<app-card variant="secondary" class="form-busca">
  <form>
      <h2>Passagens</h2>
      <div class="flex-container">
          <mat-button-toggle-group aria-label="Tipo de passagem">
          <mat-button-toggle >
               <mat-icon>check</mat-icon>
          IDA E VOLTA
          </mat-button-toggle>
          <mat-button-toggle >SOMENTE IDA</mat-button-toggle>
      </mat-button-toggle-group>
      <mat-chip-list aria-label="Fish selection">
        <mat-chip>
          <mat-chip-option>One fish</mat-chip-option>
          <mat-chip-option>Two fish</mat-chip-option>
          <mat-chip-option color="accent" selected>Accent fish</mat-chip-option>
          <mat-chip-option color="warn">Warn fish</mat-chip-option>
        </mat-chip>

    </mat-chip-list>
      </div>
  </form>
</app-card>
